table {
    border: 1px solid black;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}

.brown {
    background-color: brown;
}

.blue {
    background-color: blue;
}

.violet {
    background-color: violet;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.turquoise {
    background-color: turquoise;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
    color: white;
}